<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>chessCheater.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C885B1491E2051AE000B7F26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C885B15D1E2051AE000B7F26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C885B1681E2051AE000B7F26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
